<!DOCTYPE html>

<html>

<head>
    <title>create component</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <style>.field{width:200px;}</style>
</head>

<body>
    <h1>Добавить компонент</h1>
    <form method="POST">        
        <label>Название</label><br>
        <input name="name" class="field" /><br><br>

        <label>Цена</label><br>
        <input name="price" class="field" /><br><br>
        
        <label>Место в рейтинге</label><br>
        <input name="rating" type="number" class="field" min="0" max="3000" /><br><br>

        <label>Производитель</label><br>
        <input name="maker" class="field" /><br><br>
        
        <input type="submit" value="Сохранить" />
    </form>
    <a href="/">На главную</a>
</body>

<html>